<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>RUCpy</title>
	</head>
	
	<body>
		{% load staticfiles %}
		<script src="{% static "js/jquery-2.1.4.js" %}"></script>
		<script src="{% static "js/scripts.js" %}"></script>
		<table>
			<tr>
				<th>CI:</th>
				<td><input type="number" id="id_ci" onkeyup="if (event.keyCode == 13) dofind()"></td>
				<td><button onclick="dofind()" type="button">Consultar</button></td>
			</tr>
		</table>
		<br></br>
		<table>
			<tr>
				<th>Nombre:</th>
				<td><label id="id_name"></label></td>
			</tr>
			<tr>
				<th>RUC:</th>
				<td><label id="id_ruc"></label></td>
			</tr>
		</table>
	</body>

</html>